.btn {
  display: inline-block;
  border: 0;
  transition: background-color .7s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  padding: .5em 1em;
  cursor: pointer;
  outline: 0;
  line-height: 1.33;
}

.btn-small {
  font-size: .75rem;
}


.btn-main {
  background-color: $main;
  color: $white;

  &:hover {
    background-color: darken($main, 5%);
  }
}

.btn-ghost {
  border: 0;
  background-color: transparent;
}